<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MVZR9FM');</script>
<!-- End Google Tag Manager -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Šihti za vse!</title>
    <meta name="keywords" content="delovna mesta, delavna mesta, kariera, zaposlitev, delo">
    <meta name="description" content="Iskalnik po straneh največjih slovenskih ponudnikih delovenih mest. Najdi svojo naslednjo zaposlitev.">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVZR9FM"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
<div class="info">
    <i>Delovna mesta so bila nazadnje osvežena: {{ datum }} || info@sihtizavse.xyz</i>

</div>
</header>

    {%block content%}
    {%endblock%}


</body>
</html>